@use '../../../../styles/variables.scss' as *;

.clientState {
  &Uninteresting {
    color: $color-danger;
  }

  &Deferred {
    color: $color-grey;
  }

  &Potential {
    color: $color-warning;
  }

  &Actual {
    color: $color-success;
  }
}
