@use '../../../../styles/variables.scss' as *;

.clientState {
  &--uninteresting {
    color: $color-danger;
  }

  &--deferred {
    color: $color-grey;
  }

  &--potential {
    color: $color-warning;
  }

  &--actual {
    color: $color-success;
  }
}
