$color-black: #262a32;

$color-white: #fff;
$color-border: #e6e8ed;

$color-blue: #00a9ca;

$color-blue-light: #e4f7ff;

$color-grey: #737c90;
$color-grey-2: #b2b9c8;

$color-main-bg: #f2f4f6;

$color-danger: #f47559;
$color-warning: #c29500;
$color-success: #60ae00;
