.companyList {
  min-width: 1045px;
  width: 100%;

  th,
  td {
    box-sizing: border-box;
  }

  &__name {
    min-width: 270px;
  }

  &__state,
  &__relation {
    min-width: 100px;
  }

  &__rating {
    min-width: 90px;
  }

  &__owner {
    min-width: 150px;
  }

  &__regNumber {
    min-width: 120px;
  }

  &__city {
    min-width: 110px;
  }

  &__category {
    min-width: 105px;
  }
}
