@use '../../../../styles/variables' as *;

.clientListRow {
  box-shadow: 0 0 4px rgba(0, 0, 0, .05);

  & > th,
  & > td {
    background-color: $color-white;

    padding: 0 10px;
  }

  &__content {
    display: flex;
    align-items: center;

    min-height: 30px;

    font-size: 13px;
    text-align: left;

    color: $color-grey;
  }

  &__link {
    color: $color-black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__state {
    &--uninteresting {
      color: $color-danger;
    }

    &--deferred {
      color: $color-grey;
    }

    &--potential {
      color: $color-warning;
    }

    &--actual {
      color: $color-success;
    }
  }

  &:hover > th,
  &:hover > td {
    background-color: $color-blue-light;
  }

  & > :first-child {
    border-radius: 4px 0 0 4px;
  }

  & > :last-child {
    border-radius: 0 4px 4px 0;
  }
}
